$red-logo-color: #981E32;
$black-logo-color: #000;
$yellow-logo-color: #EAAB00;
$white-logo-color: #fff;
$link-active-color: #981E32;
$link-inactive-color: #f3f3f3;
$text-error-color: #dc3545;
$max-width: 1100px;