.container {
    max-width: $max-width;
    margin: auto;
    overflow: hidden;

    &__card {
        display: flex;
        background: #fff;

        &__icon {
            position: relative;
            height: 150px;
            width: 100%;

            @mixin atMedium {
                height: auto;
                width: 75%;
            }

            @mixin atLarge {
                width: 60%;
            }
        }

        &__body {
            padding: 1.875rem 1.5rem;
        }

        &--column-until-medium {
            flex-direction: column;

            @mixin atMedium {
                flex-direction: row;
            }
        }
    }

    &--flex {
        display: flex;
        flex-direction: column;
        align-items: center;

        @mixin atMedium {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__description {
        text-align: justify;
        padding: 0 1.8rem;
        margin-top: 2.25rem;
        line-height: 1.625rem;

        @mixin atSmall {
            text-align: center;
        }
        
        @mixin atMedium {
            padding: 0 2rem;
        }
    }

    &--medium {
        max-width: 976px;
    }

    &--small {
        max-width: 500px;
    }
}