.filter {

    &__list {
        margin: 0;
        padding: 0;
        display: flex;

        &--column-until-medium {
            flex-direction: column;
            align-items: center;
    
            @mixin atMedium {
                flex-direction: row;
                align-items: unset;
            }
        }
    }

    &__item {
        position: relative;
        flex: 1 1 auto;
        padding: 1rem 1.2rem;
        letter-spacing: .125rem;
        color: #000;
        font-size: .7rem;
        text-align: center;
        list-style: none;
        cursor: pointer;

        @mixin atMedium {
            padding: 1rem 1.6rem;
        }

        &--uppercase {
            text-transform: uppercase;
        }

        &--light {
            color: #9b9b9b;
        }

        &--active {
            font-weight: bold;
            &::after {
                content: '';
                position: absolute;
                transform: translateX(-50%);
                bottom: 0;
                left: 50%;
                width: 100%;
                border-bottom: 2px solid $link-active-color;

                @mixin atMedium {
                    width: 80%;
                }
            }
        }
    }
}