.form {

    &__group {
        box-sizing: border-box;
        padding: 1rem;

        &--full-width-until-medium {
            flex: 0 0 100%;
            max-width: 100%;

            @mixin atMedium {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        &:nth-last-child(1) {
            flex: 1 0 auto;
            width: 100%;
            max-width: unset;
        }
    }

    &__label {
        font-weight: 300;
        margin-bottom: .5rem;
        display: inline-block;
    }

    &__input {
        box-sizing: border-box;
        padding: .5rem;
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        display: block;
        transition: border-color .15s ease-in-out;

        &--is-invalid {
            outline: 0;
            border-color: $text-error-color;
        }
    }
}