.headline {
    font-size: 1.9rem;

    &--centered {
        text-align: center;
    }

    &--small {
        font-size: .8rem;

        @mixin atMedium {
            font-size: 1rem;
        }
    }

    &--large {
        font-size: 1.7rem;

        @mixin atMedium {
            font-size: 3.125rem;
        }
    }

    &--light {
        font-weight: 100;
    }

    &--color-grey {
        color: #555;
    }

    &--no-margin {
        margin: 0;
    }

    &--b-margin-small {
        margin-bottom: .5rem;
    }
}