.modal-menu-nav {
    &__list {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    li { 
        list-style: none;
        padding: .5rem;
    }

    a {
        font-size: 1.5rem;
        font-weight: bold;
        color: $modal-menu-nav-color;
        text-decoration: none;
        transition: .3s ease-in-out;
    }

    a:hover {
        color: $modal-menu-nav-active-color;
    }
}