.row {
    display: flex;
    
    & > div {
        flex: 1 1 auto;
    }

    &__item {

        &--l-margin-from-medium-to-large {
            margin-left: 0;

            @mixin atMedium {
                margin-left: 1rem;
            }

            @mixin atLarge {
                margin-left: 0;
            }
        }

        &--t-margin-until-medium {
            margin-top: 1rem;

            @mixin atMedium {
                margin-top: 0;
            }
        }

        &--no-grow {
            flex: 0 1 auto!important;
        }

        &--align-center-until-medium {
            align-self: center;

            @mixin atMedium {
                align-self: flex-end;
            }
        }
    }

    
    &--space-between-items {
        justify-content: space-between;
    }
    
    &--t-margin-small {
        margin-top: 2rem;
    }

    &--b-margin-small {
        margin-bottom: 2rem;
    }

    &--divider-right > div {
        @mixin atMedium {
            border-right: 1px dotted #555;

            &:last-child {
                border-right: 0;
            }
        }
    }

    &--divider-bottom > div {
        border-bottom: 1px dotted #555;

        &:last-child {
            border-bottom: 0;
        }

        @mixin atSmall {
            border-bottom: 0;
        }
    }
    
    &--medium {
        display: flex;
        flex-direction: column;
        width: 100%;

        @mixin atSmall {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            & > div {
                flex: 1 1 auto;
            }
        }

        @mixin atMedium {
            flex-wrap: nowrap;
            width: 976px;

            & > div {
                width: 100%;
            }
        }
    }

    &--column-until-small {
        flex-direction: column;

        @mixin atSmall {
            flex-direction: row;
        }
    }

    &--column-until-medium {
        flex-direction: column;

        @mixin atMedium {
            flex-direction: row;
        }
    }

    &--align-center-until-medium {
        align-items: center;

        @mixin atMedium {
            align-items: unset;
        }
    }

    &--wrap {
        flex-wrap: wrap;
    }
}