.row {
    display: flex;
    
    & > div {
        flex: 1 1 auto;
    }

    &__item {
        &--no-grow {
            flex: 0 1 auto!important;
        }

        &--align-end {
            align-self: flex-end;
        }
    }

    &--b-margin-small {
        margin-bottom: 2rem;
    }

    &--space-between-items {
        justify-content: space-between;
    }

    &--t-margin-small {
        margin-top: 2rem;
    }

    &--divider-right > div {
        @mixin atMedium {
            border-right: 1px dotted #555;

            &:last-child {
                border-right: 0;
            }
        }
    }

    &--divider-bottom > div {
        border-bottom: 1px dotted #555;

        &:last-child {
            border-bottom: 0;
        }

        @mixin atSmall {
            border-bottom: 0;
        }
    }
    
    &--medium {
        display: flex;
        flex-direction: column;
        width: 100%;

        @mixin atSmall {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            & > div {
                flex: 1 2 15rem;
            }
        }

        @mixin atMedium {
            flex-wrap: nowrap;
            width: 976px;

            & > div {
                width: 100%;
            }
        }
    }

    &--column-until-small {
        flex-direction: column;

        @mixin atSmall {
            flex-direction: row;
        }
    }

    &--wrap {
        flex-wrap: wrap;
    }
}