.section-title {
    font-size: 1.9rem;

    &--color-light {
        color: #9b9b9b;
    }

    &--center {
        text-align: center;
    }

    &--centered-until-medium {
        text-align: center;

        @mixin atMedium {
            text-align: unset;
        }
    }

    &--centered-until-large {
        text-align: center;

        @mixin atLarge {
            text-align: unset;
        }
    }

    &--small {
        font-size: .8rem;

        @mixin atMedium {
            font-size: 1.2rem;
        }
    }

    &--large {
        font-size: 2rem;

        @mixin atMedium {
            font-size: 3.125rem;
        }
    }

    &--no-margin {
        margin: 0;
    }

    &--b-margin-small {
        margin-bottom: 2rem;
    }

    &--b-margin-smaller {
        margin-bottom: 1rem;
    }

    &--b-margin-tiny {
        margin-bottom: .2rem;
    }

    &--uppercase {
        text-transform: uppercase;
    }
}