.section-title {
    font-size: 1.9rem;

    &--centered-until-large {
        text-align: center;

        @mixin atLarge {
            text-align: unset;
        }
    }

    &--small {
        font-size: .7rem;

        @mixin atMedium {
            font-size: 1rem;
        }
    }

    &--large {
        font-size: 1.8rem;

        @mixin atMedium {
            font-size: 3.125rem;
        }
    }

    &--no-margin {
        margin: 0;
    }

    &--b-margin-small {
        margin-bottom: 1rem;
    }

    &--uppercase {
        text-transform: uppercase;
    }
}