.site-header {
    padding: .5rem;
    background-color: $black-logo-color;

    @mixin atMedium {
        padding: 1rem;
    }

    &__logo {
        width: 150px;

        @mixin atMedium {
            width: 180px;
        }
    }

    &__menu-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #fff;
        height: 20px;
        width: 20px;

        @mixin atMedium {
            display: none;
        }
    }

    &__menu-content {
        height: 0;
        transition: .3s ease-out;
        width: 100%;

        @mixin atMedium {
            width: auto;
            height: auto;
        }

        &--is-visible {
            margin-top: 1rem;
            height: 6.875rem;

            @mixin atMedium {
                margin-top: 0;
                height: auto;
            }
        }
    }
}