.site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 0;
    z-index: 1;
    background-color: $black-logo-color;

    @mixin atMedium {
        padding: 1rem 0;
    }

    &__logo {
        margin: auto;
        width: 50%;

        @mixin atSmall {
            width: 215px;
        }
    }

    &__menu-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 19px;
        width: 20px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #fff;
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #fff;
            transition: all .3s ease-out;
            transform-origin: 0 50%;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #fff;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }

        @mixin atMedium {
            display: none;
        }

        &--close-x {
            display: none;
        }
    }

    &__menu-content {
        height: 0;
        transition: .3s ease-out;
        width: 100%;

        @mixin atMedium {
            width: auto;
            height: auto;
        }
    }
}